@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  background-color: #FFFAF0;
}

header {
  text-align: center;
  background-color: #FA8072;
  font-size: 25px;
  height: 50px;
  padding: 10px 0;
}

main {
  background-color: #FFFAF0;
}

footer {
  background-color: #FA8072;
  bottom: 0;
  position: absolute;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 17px;
}

@media (max-width: 700px) {
    footer {
      z-index: -1;
  }
}

@media (max-height: 760px) {
    footer {
      z-index: -1;
  }
}

.authContainer {
  justify-content: center;
  text-align: center;
}

.box {
  align-items: center;
  border: 1px solid black;
  display: flex;
  font-size: 30px;
  height: 70px;
  justify-content: center;
  text-align: center;
}

.box:hover {
  background-color: orange;
}

.gameBoardContainer {
  margin: auto;
  max-width: 300px;
  text-align: center;
  border: 2px solid black;
}

.hidden {
  display: none;
}

#message {
  text-decoration: underline;
  font-weight: bold;
  height: 25px;
}

#game-message {
  text-decoration: underline;
  font-weight: bold;
  height: 25px;
}

#game-stats-message {
  height: 25px;
}

#sign-out {
  margin: 30px;
}
